<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tahmin.footballscore">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FootballScore"
        android:usesCleartextTraffic="true">
        <activity android:name="com.tahmin.footballscore.view.NotificationActivity"></activity>
        <activity android:name="com.tahmin.footballscore.view.PredictionsFragment" />
        <activity android:name="com.tahmin.footballscore.view.MainActivity" />
        <activity android:name="com.tahmin.footballscore.pages.LoginScreen" />
        <activity android:name="com.tahmin.footballscore.view.RegisterActivitiy" />
        <activity android:name="com.tahmin.footballscore.view.SplashSceen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4148624023284077~6491832798"/>
    </application>

</manifest>